NET CLOCK LOC=E7;

NET LCD_E LOC=C1;
NET LCD_RW LOC=D1;
NET LCD_RS LOC=F3;

NET DATA(0) LOC=C3;
NET DATA(1) LOC=A5;
NET DATA(2) LOC=B6;
NET DATA(3) LOC=A8;
NET DATA(4) LOC=C10;
NET DATA(5) LOC=A11;
NET DATA(6) LOC=A13;
NET DATA(7) LOC=B15;

NET"LED(1)" LOC="N1";
NET"LED(0)" LOC="R2";
NET Ain LOC=D3;
NET Bin LOC=D5;



NET direccion1	LOC=M1;
NET E_direccion LOC=P2;

NET REINI LOC = R7;
NET BTN LOC=J1;

NET numeros_encoder LOC=N9;

